html, body {
    height: 100%;
}

#container {
    display: flex;
    height: 90%;
    flex-direction: column;
    border: solid black 10px;
}

#header {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    padding: 10px;
    flex-direction: row;
}

.column {
    flex: 1;
    display: flex;
}
.square {
    border: black;
    flex: 1;
}

#grid-button {
    height: 2%;
    text-align: center;
}