html, body {
    height: 100%;
}

#container {
    display: flex;
    height: 80%;
    flex-direction: column;
    border: solid black 10px;
    justify-content: center;
    width: 60%;
    margin: auto;
    border-radius: 0px 0px 12px;
}

#header {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px;
    flex-direction: row;
    width: 70%;
    margin: auto;
    border-radius: 12px;
}
h2 {
    align-self: flex-start;
    flex: 1;
    color: aliceblue;
    padding-left: 20px;
}
h3 {
    padding-left: 25px;
    padding-right: 25px;
    color: aliceblue;
}
.column {
    flex: 1;
    display: flex;
}
.square {
    border: solid black 1px;
    flex: 1;
}


#grid-button {
    height: 2%;
    text-align: center;
}

button {
    width: 100px;
    height: 60px;
}